    * {
        margin: 0;
        font-family: 'Lato', sans-serif;
    }

    img {
        max-width: 100%;

    }

    article {
        padding: 10px;

    }

    .banner-img {
        width: 100%;
        height: 200px;
        background-image: url("imgs/large/borsjtj.jpg");
        background-size: cover;
    }

    .banner-text {
        color: aliceblue;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .banner-text h1 {
        font-size: 5rem;
    }

    .banner-text p {
        font-size: 2.5rem;

    }

    #popUp {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        overflow: scroll;

    }

    .retterPopUp {
        margin: 3em;
        padding: 2em;
        background-color: white;
        border-radius: 5px;
    }

    #popUp img,
    #detail img {
        width: 60vw;
        margin: 0 auto;
        display: block;
        padding-bottom: 1vw;
    }

    #popUp h3 {
        text-align: center;
    }

    #popUp p {
        text-align: center;
    }

    #detail {
        width: 60vw;
        margin: 0 auto;
        display: block;
    }

    #detail h3 {
        text-align: center;
    }

    #detail p {
        text-align: center;
    }


    .hide {
        display: none;
        pointer-events: none;
    }


    .data-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        margin: 0 auto;
        padding: .5vw 1vw;
        grid-gap: 30px;

    }

    .data-container img {
        padding-bottom: 1vw;
    }

    .price {
        padding-top: 1vw;
        font-size: 1.2rem;
        font-weight: bold;
    }


    h2 {
        font-size: 3.5rem;
        text-align: center;
        padding: 2.5vw 0;
    }

    h3 {
        font-size: 1.5rem;
        padding-bottom: 1vw;
    }


    nav {
        text-align: center;
        margin-bottom: 15px;

    }

    .button {
        padding: 15px 25px;
        border: 1px solid black;
        border-radius: 5px;
        display: inline-block;
        margin-top: 20px;

    }

    .button_active {
        background-color: black;
        color: white;
    }

    #popUp div,
    #detail div {
        border: 1px solid black;
        background-color: white;
        padding: .5vw;
        width: 3vw;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        float: right;
        border-radius: 5px;


    }

    #detail div {
        position: absolute;
        right: 1vw;
    }
